.main
{
	color: green;
	font-family: monospace;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}

.center
{
	width:50%;
	margin-left: 25%;
	padding-top: 3.5%;
	padding-bottom: 3.5%;
	display:flex;
	justify-content:center;
	background-color:rgb(255,255,0);
}